<div id="body" class="contact1">
  <div class="container-contact1">
    <div class="contact1-pic pic1">
      <img
        src="../../assets/images/undraw_Social_networking.svg"
        alt="Social Networking"
      />
    </div>
    <form class="contact1-form validate-form" #contactForm contactForm="ngForm">
      <span class="contact1-form-title">
        <strong>{{ myFormActions[0] }}</strong>
      </span>

      <div class="submission" *ngIf="!submittedForm">
        <div
          id="firstName"
          class="wrap-input1 validate-input"
          data-validate="First name is required"
        >
          <input
            class="input1"
            type="text"
            name="FirstName"
            [placeholder]="myPlaceholders[0]"
            required
            (ngModelChange)="this.validateFirstName()"
            [(ngModel)]="Inquiry.firstName"
            #firstNameInput
            firstNameInput="ngModel"
          />
          <span class="shadow-input1"></span>
        </div>

        <div
          id="lastName"
          class="wrap-input1 validate-input"
          data-validate="Last name is required"
        >
          <input
            class="input1"
            type="text"
            name="LastName"
            [placeholder]="myPlaceholders[1]"
            required
            (ngModelChange)="this.validateLastName()"
            [(ngModel)]="Inquiry.lastName"
            #lastNameInput
            lastNameInput="ngModel"
          />
          <span class="shadow-input1"></span>
        </div>

        <div
          id="email"
          class="wrap-input1 validate-input"
          data-validate="Email address is required"
        >
          <input
            class="input1"
            type="text"
            name="Email"
            [placeholder]="myPlaceholders[2]"
            required
            (ngModelChange)="validateEmail()"
            [(ngModel)]="Inquiry.emailAddress"
            #emailInput
            emailInput="ngModel"
          />
          <span class="shadow-input1"></span>
        </div>

        <div
          id="subject"
          class="wrap-input1 validate-input"
          data-validate="Subject is required"
        >
          <input
            class="input1"
            type="text"
            name="Subject"
            [placeholder]="myPlaceholders[3]"
            required
            (ngModelChange)="validateSubject()"
            [(ngModel)]="Inquiry.subject"
            #subjectInput
            subjectInput="ngModel"
          />
          <span class="shadow-input1"></span>
        </div>

        <div
          id="message"
          class="wrap-input1 validate-input"
          data-validate="Message is required"
        >
          <textarea
            class="input1"
            name="Message"
            [placeholder]="myPlaceholders[4]"
            required
            (ngModelChange)="validateMessage()"
            [(ngModel)]="Inquiry.message"
            #messageInput
            messageInput="ngModel"
          ></textarea>
          <span class="shadow-input1"></span>
        </div>

        <div class="container-contact1-form-btn">
          <button
            class="contact1-form-btn"
            [disabled]="!validForm"
            (click)="this.sendEmail()"
          >
            <span>
              <strong>{{ myFormActions[1] }}</strong>
              {{ "" }}
              <fa-icon [icon]="faSendEmail"></fa-icon>
            </span>
          </button>
        </div>
      </div>

      <div class="confirmed mt-5" *ngIf="submittedForm">
        <div class="contact1-pic pic2 mb-5">
          <img src="../../assets/images/undraw_Confirmed.svg" alt="Confirmed" />
        </div>

        <div class="container-contact1-form-btn mt-5">
          <button class="contact1-form-btn" (click)="this.resendEmail()">
            <span>
              <strong>{{ myFormActions[2] }}</strong>
              {{ "" }}
              <fa-icon [icon]="faResendEail"></fa-icon>
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
