<div class="container">
  <div class="social-accounts">
    <a href="" class="social-icon" target="_blank" rel="nopener noreferrer">
      <fa-icon [icon]="Github" size="2x"></fa-icon>
    </a>
    <a href="" class="social-icon" target="_blank" rel="nopener noreferrer">
      <fa-icon [icon]="Twitter" size="2x"></fa-icon>
    </a>
    <a href="" class="social-icon" target="_blank" rel="nopener noreferrer">
      <fa-icon [icon]="LinkedIn" size="2x"></fa-icon>
    </a>
    <a href="" class="social-icon" target="_blank" rel="nopener noreferrer">
      <fa-icon [icon]="Facebook" size="2x"></fa-icon>
    </a>
    <a href="" class="social-icon" target="_blank" rel="nopener noreferrer">
      <fa-icon [icon]="Instagram" size="2x"></fa-icon>
    </a>
  </div>

  <div class="name">
    <h4><strong>Fouad Abdeen</strong></h4>
  </div>

  <div class="language">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-dark"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <strong>Language</strong>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem><b>Arabic</b></button>
            <button ngbDropdownItem><b>الإنجليزية</b></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
