<div class="container">
  <div class="social-accounts">
    <a
      *ngIf="this.socialAccounts[0]"
      [href]="this.socialLinks[0].link"
      class="social-icon"
      target="_blank"
      rel="nopener noreferrer"
    >
      <fa-icon [icon]="Github" size="2x"></fa-icon>
    </a>
    <a
      *ngIf="this.socialAccounts[1]"
      [href]="this.socialLinks[1].link"
      class="social-icon"
      target="_blank"
      rel="nopener noreferrer"
    >
      <fa-icon [icon]="Twitter" size="2x"></fa-icon>
    </a>
    <a
      *ngIf="this.socialAccounts[2]"
      [href]="this.socialLinks[2].link"
      class="social-icon"
      target="_blank"
      rel="nopener noreferrer"
    >
      <fa-icon [icon]="LinkedIn" size="2x"></fa-icon>
    </a>
    <a
      *ngIf="this.socialAccounts[3]"
      [href]="this.socialLinks[3].link"
      class="social-icon"
      target="_blank"
      rel="nopener noreferrer"
    >
      <fa-icon [icon]="Facebook" size="2x"></fa-icon>
    </a>
    <a
      *ngIf="this.socialAccounts[4]"
      [href]="this.socialLinks[4].link"
      class="social-icon"
      target="_blank"
      rel="nopener noreferrer"
    >
      <fa-icon [icon]="Instagram" size="2x"></fa-icon>
    </a>
  </div>

  <div class="title">
    <h4 class="title1">
      <strong>{{ getTitleById(0) }}</strong>
    </h4>
  </div>

  <div class="language">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-dark"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <strong *ngIf="this.lang === this.en" class="ar">اللغة</strong>
            <strong *ngIf="this.lang === this.ar">Language</strong>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              ngbDropdownItem
              (click)="this.changeLanguage(ar)"
              *ngIf="this.lang === this.en"
            >
              <b class="ar">العربية</b>
            </button>
            <button
              ngbDropdownItem
              (click)="this.changeLanguage(en)"
              *ngIf="this.lang === this.ar"
            >
              <b>English</b>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
