<div id="footer" class="container contact2">
  <div class="row">
    <div class="col-md-6 info">
      <p>
        <strong>{{ getTitleById(0) }}</strong>
      </p>
      <p>
        <strong>{{ getTitleById(1) }}</strong>
      </p>
      <p>
        <strong>{{ getTitleById(2) }}</strong>
      </p>
    </div>
    <div class="col-md-6 emails">
      <p>
        <strong>{{ getTitleById(3) }}</strong>
      </p>
      <p>
        <strong>{{ getTitleById(4) }}</strong>
      </p>
      <p>
        <strong>{{ getTitleById(5) }}</strong>
      </p>
    </div>
  </div>
</div>
